!!!
%html
  %head
    -%w{env zepto ICanHaz underscore calatrava bridge pageHelper}.each do |filename|
      %script(type="text/javascript" src="scripts/#{filename}.js")

    %script(type="text/javascript" src="scripts/init.js")
    -# Load all feature JS files
    = render_partial 'web/app/views/load_file'

    %link(href="styles/shell.css" media="screen" rel="stylesheet" type="text/css")

  %body
    %div#app_container.container
      = render_page "paroles/welcomePage"

  :javascript
    $(document).ready(function(){
      paroles.start();
    });
