%div#welcome-page.page

  %h1.welcome-title Welcome to paroles

  %form#create-wall
    %label(for="name") Create a new quote wall
    %input(name="name" placeholder="wall name")
    %input(type="submit" value="Create")
